*faceSize: 11.10
! XTerm*vt100.scaleHeight: 0.8
*multiClickTime: 300
*international: true
Xcursor.theme: default
Xcursor.size:  32       !  32, 48 or 64 may also be good values

! Xft settings ---------------------------------------------------------------

! Xft.dpi: 138

! Better font rendering.
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! xterm ----------------------------------------------------------------------
! xterm*geometry:           180x20
! xterm*dynamicColors:      true
! xterm*utf8:               1
! xterm*eightBitInput:      true
! xterm*saveLines:          12000
! xterm*scrollTtyKeypress:  true
! xterm*scrollTtyOutput:    false
! xterm*jumpScroll:         true
! xterm*multiScroll:        true
! xterm*toolBar:            false
! xterm*termName:           xterm-256color
! xterm*backarrowKey:       TRUE
xterm*faceName:           Hack Nerd Font

XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
